.git
.gitignore
.DS_Store

node_modules
**/node_modules
.next
**/.next
out
dist
build
**/build
.gradle
**/.gradle
target
**/target
logs
**/logs
coverage
**/coverage
coverage.out
*.log

.env
.env.*
!.env.docker.example
!apps/api/.env.example
!apps/web/.env.example

apps/api/.env.local
apps/web/.env.local

apps/agent/bin
