.DS_Store
node_modules
.next
*.tsbuildinfo
out
dist
build
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
!.env.example

# Java / Gradle
.gradle
apps/api/build

# Go
apps/agent/bin
coverage.out

# IDE
.idea
.vscode

# Docker
*.log
